- content_for(:head) do
  %style{type: 'text/css'}
    \ body {background-color: ##{@color_info[:pixel][:hex]};}

  %script{type: 'text/javascript'}
    Color.Current.data = #{@color_info.to_json};


#color_result
  #pixel_result
    %span#pixel_hex_result ##{@color_info[:pixel][:hex]}
    %abbv{title: 'Composite Pixel Color'} Pixel Color
  #dominant_result
    %span#dominant_hex_result ##{@color_info[:dominant][:hex]}
    %abbv{title: 'Dominant Color'} Dominant Color
  #color_result_details
    %span#color_result_count
    %abbv{title: 'Total Web Pages Processed'} Pages Processed